form {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

form div {
    margin-bottom: 15px;
    color:#964b00;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color:#964b00;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:#f0ecb4;
    color: #964b00;;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color:#fcf75d;
}

form p {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

form a {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #964b00;
    text-decoration: none;
    font-size: 14px;
}

form a:hover {
    text-decoration: underline;
}
